@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary: #7200a1;
    --layout: #170f23;
    --header-height: 70px;
    --search-height: 40px;
    --slider-height: 191px;
    --playbar-height: 89px;
    --playbar-padding: 0 20px;
    --playbar-bg: #120c1c;
    --search-text: #eee;
    --text-color: #fff;
    --navigation-text: #dadada;
    --scroll-thumb-bg: hsla(0, 0%, 100%, 0.3);
    --content-padding: 0 60px;
    --width-left-sidebar: 240px;
    --width-right-sidebar: 330px;
    --alpha-background: hsla(0, 0%, 100%, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
