.wrapper {
    display: flex;
    justify-content: space-between;
}

.cd-img {
    height: 300px;
}

.cd-isplaying {
    border-radius: 999px;
    animation: cdRotate 10s linear infinite;
}

@keyframes cdRotate {
    100% {
        transform: rotate(360deg);
    }
}

.cd-title {
    font-size: 2rem;
    text-align: center;
    color: var(--text-color);
}

.time-update,
.artist,
.like {
    font-size: 1.4rem;
    opacity: 0.6;
    text-align: center;
}

.song-list {
    width: 500px;
    height: 535px;
    overflow-y: scroll;
}

.album-desc {
    font-size: 1.4rem;
    font-weight: 500;
    opacity: 0.8;
    margin-bottom: 4px;
}

.song-item {
    display: flex;
    align-items: center;
}

.song-icon {
    margin-right: 4px;
    opacity: 0.8;
}
