.song-item {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: transparent;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
        .song-action {
            display: flex;
        }
    }
    width: 100%;
}

.song-info {
    display: flex;
    width: 60%;
    font-size: 1.4rem;
    align-items: center;
}

.song-icon {
    margin-right: 8px;
    font-size: 16px;
    opacity: 0.8;
}

.song-item-active {
    background-color: var(--primary);
}

.song-thumb {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.song-action {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 8px;
}

.title {
    font-size: 1.4rem;
    font-weight: 500;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.artist {
    font-size: 1.2rem;
}

.album {
    width: 20%;
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
}

.album-title {
    font-size: 1.4rem;
    &:hover {
        text-decoration: underline;
        color: yellow;
    }
}

.album-hide {
    display: none;
}

.time {
    display: flex;
    width: 8%;
    font-size: 1.2rem;
    margin-left: auto;
}

.song-disabled {
    pointer-events: none;
    width: 99%;
}
