.song-item {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: transparent;
    border-radius: 8px;
    margin: 4px 0;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
        .song-action {
            display: flex;
        }
    }
    width: 100%;
}

.song-item-active {
    background-color: var(--primary);
    pointer-events: none;
}

.song-thumb {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.song-action {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-right: 8px;
}

.title {
    font-size: 1.4rem;
    font-weight: 500;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.artist {
    font-size: 1.2rem;
}

.time {
    font-size: 1.2rem;
    margin-left: auto;
}
