.wrapper {
    background-color: var(--layout);
}

.queue-select {
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: var(--header-height);
}

.queue-item {
    font-size: 1.2rem;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--navigation-text);
    background-color: var(--alpha-background);
    overflow: hidden;
    border-radius: 999px;
    text-align: center;
    cursor: pointer;
}

.queue-item-active {
    color: var(--primary);
    background-color: #fff;
}
