.queue {
    height: calc(100vh - var(--header-height) - var(--playbar-height));
    width: 100%;
    overflow-y: scroll;
}

.listening {
    border-bottom: 3px solid var(--alpha-background);
    pointer-events: none;
}
