.container {
    color: var(--search-text);
    position: relative;
    overflow-x: hidden;
}

.left-content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #231b2e;
    width: var(--width-left-sidebar);
}

.content {
    padding: var(--content-padding);
    margin-top: var(--header-height);
    margin-left: var(--width-left-sidebar);
    margin-right: var(--width-right-sidebar);
    background-color: var(--layout);
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - var(--header-height) - var(--playbar-height));
}

.right-content {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: var(--layout);
    width: var(--width-right-sidebar);
    border-left: 1px solid var(--alpha-background);
    margin-bottom: var(--playbar-height);
}

.page {
    background-color: transparent;
    margin-bottom: var(--playbar-height);
}
