.logo {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
}

.logo-img {
    width: 120px;
}

.divide-line {
    margin: 0 auto;
    width: 90%;
    border: 1px solid var(--alpha-background);
}
