.wrapper {
    height: var(--playbar-height);
    padding: var(--playbar-padding);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    border-top: 1px solid var(--alpha-background);
    background-color: var(--playbar-bg);
    display: flex;
    align-items: center;
}

.player-info {
    display: flex;
    flex: 1 1;
}

.img {
    object-fit: cover;
    width: 64px;
    margin-right: 12px;
    border-radius: 4px;
}

.name {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    flex: 1 1;
    align-items: flex-start;
    justify-content: center;
}

.title {
    font-size: 1.4rem;
    font-weight: 500;
}

.artist {
    font-size: 1.2rem;
    opacity: 0.6;
}

.player-control {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: center;
    align-items: center;
}

.handler {
    margin-bottom: 4px;
}

.player-option {
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
}

.volume {
    display: flex;
    align-items: center;
    width: 50%;
}

.volume-range {
    margin-left: 4px;

    input[type='range'] {
        height: 4px;
        cursor: pointer;
    }
}

.play-btn {
    font-size: 28px;
}

.btn-active {
    color: var(--primary);
}
